* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

audio {
  display: none;
}
.start {
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}
.gameBoard {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 640px;
  height: 360px;
  background-image: url(./assets/img/background.png);
  background-color: black;
  border: 2px solid black;
  margin: 0 auto;
  overflow: hidden;

}

.cat {
  position: absolute;
  bottom: 75px;
  width: 60px;
  z-index: 2;
  background-repeat: repeat-x;
  animation: moveVictim 10s linear infinite;
}

.bird {
  position: absolute;
  bottom: 175px;
  width: 60px;
  margin-left: 500px;
  z-index: 2;
  background-repeat: repeat-x;
  animation: moveVictim 10s linear infinite;
}
.dog {
  position: absolute;
  bottom: 75px;
  width: 60px;
  margin-left: 500px;
  z-index: 2;
  background-repeat: repeat-x;
  animation: moveVictim 10s linear infinite;
}
.rabbit {
  position: absolute;
  bottom: 75px;
  width: 60px;
  z-index: 2;
  background-repeat: repeat-x;
  animation: moveVictim 10s linear infinite;
  margin-left: 500px;
}
.mice {
  position: absolute;
  bottom: 75px;
  width: 60px;
  z-index: 2;
  background-repeat: repeat-x;
  animation: moveVictim 10s linear infinite;
  margin-left: 500px;
}
.butterfly {
  position: absolute;
  bottom: 165px;
  width: 60px;
  margin-left: 500px;
  z-index: 2;
  background-repeat: repeat-x;
  animation: moveVictim 10s linear infinite;
}

.baseMove {
  animation: moveBase 2s linear infinite;
}

.painel {
  position: absolute;
  top: 46vw;
  left: 10vw;
  text-align: center;
}

/* classe que movimenta a div2 , ela é adicionada e retirada pelo JS*/
.mover {
  animation-name: mover_animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes default {
  to {
    left: auto;
  }
}
@keyframes moveVictim {
from {
  background-position: 100% 0;
}
to {
  background-position: -100% 0;
}
}

@media screen and (max-width: 640px) {
}
